/*
---------------------------------------------
UTILITIES
---------------------------------------------
*/

.a11y-screen-reader-only {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px, 1px, 1px, 1px);
    color: transparent;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}



/*
---------------------------------------------
RESET
---------------------------------------------
*/

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size-adjust: none;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 100%;
}

figure {
    margin: 0;
}



/*
---------------------------------------------
THEME
---------------------------------------------
*/

:root {
    --font-stack-primary: Lato, Helvetica, Arial, sans-serif;
    --font-stack-secondary: "Nixie One", serif;

    /* https://colorhunt.co/palette/196180 */
    --theme-color-1: #ebecf1;
    --theme-color-2: #206a5d;
    --theme-color-3: #1f4068;
    --theme-color-4: #1b1c25;

    --body-background-color: #fff;
    --body-text-color: var(--theme-color-4);
    --header-background-color: var(--theme-color-3);
    --header-text-color: var(--theme-color-1);
    --heading-color: var(--theme-color-2);
    --nav-background-color: var(--theme-color-2);
    --counter-background-color: var(--theme-color-2);
    --counter-text-color: var(--theme-color-1);
    --figcaption-background-color: var(--theme-color-1);
}



/*
---------------------------------------------
TYPOGRAPHY
---------------------------------------------
*/

h1, h2, h3,
h4, h5, h6, p {
    font-weight: 400;
    margin: 0;
}

h2 {
    color: var(--heading-color);
    font-family: var(--font-stack-secondary);
    font-size: 55px;
    font-weight: 100;
    margin-bottom: 36px;
}

h3 {
    font-size: 34px;
    line-height: 1.3;
}

p {
    /*line-height: 1.5;*/
}

p,
dl {
    font-size: 24px;
}

p + p {
    margin-top: 1em;
}

.button {
    align-items: baseline;
    background-color: var(--theme-color-2);
    border-radius: 4px;
    box-shadow: 0 3px 0 0 black;
    color: var(--theme-color-1);
    display: inline-flex;
    font-size: inherit;
    line-height: 1.4;
    padding: 0.5em 1.125em;
    position: relative;
    text-decoration: none;
}

.button:hover {
    box-shadow: 0 2px 0 0 black;
    top: 1px;
}

.button:active {
    box-shadow: 0 0 0 0 transparent;
    top: 3px;
}

.link--external {
    align-items: baseline;
    color: inherit;
    display: inline-flex;
    font-size: inherit;
    line-height: 1.4;
    text-decoration: none;
}

.link--external svg {
    fill: currentColor;
    height: 0.875em;
    margin-left: 0.25em;
    width: 0.875em;
}



/*
---------------------------------------------
LAYOUT
---------------------------------------------
*/

body {
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    font-family: var(--font-stack-primary);
}

@media only screen and (min-width: 1200px) {
    body {
        display: grid;
        grid-template-areas:
            "header nav nav nav nav nav nav"
            "header main main main main main main";
    }
}

.container {
    margin: 0 auto;
    width: 92%;
}



/*
---------------------------------------------
HEADER
---------------------------------------------
*/

header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    grid-area: header;
    padding: 1em 0;
}

@media only screen and (min-width: 1200px) {
    header {
        padding: 10vh 0;
    }
    header .container {
        max-width: none;
        left: 0;
        padding: 0 clamp(1em, 5vw, 3em);
        position: sticky;
        right: 0;
        top: 10vh;
        width: 100%;
    }
}

header h1 {
    font-size: 1em;
}

/*@media only screen and (min-width: 1200px) {*/
/*    header h1 {*/
/*        font-size: 1em;*/
/*    }*/
/*}*/

header svg {
    display: block;
    fill: currentColor;
    font-size: 1em;
    height: 20em /*320px*/;
    margin: 0 auto;
    width: 20em /*320px*/;
}

.thing1 {
    font-family: var(--font-stack-secondary);
}

header h1 {
    font-size: 1em;
}

header nav {
    /*background-color: var(--nav-background-color);*/
    font-size: 20px;
    margin: 3em auto 0;
    padding: 1em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*header nav li {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: 2em;*/
/*}*/

header nav li + li {
    margin-top: 1em;
}

header nav .whoa {
    align-items: center;
    background-color: var(--counter-background-color);
    border-radius: 50%;
    color: var(--counter-text-color);
    content: counter(custom-counter);
    display: flex;
    flex: none;
    font-size: 26px;
    height: 1.5em;
    justify-content: center;
    line-height: 2;
    outline: 1px solid transparent;
    width: 1.5em;
}

header nav .whoa svg {
    height: 0.75em;
    width: 0.75em;
}

header nav svg {
    fill: currentColor;
}



/*
---------------------------------------------
MAIN
---------------------------------------------
*/

main {
    grid-area: main;
    margin: 3em 0 6em;
}

article + article {
    margin-top: 90px;
}

article .container {
    max-width: 1280px;
}

@media only screen and (min-width: 1200px) {
    article .container {
        margin: 0 auto 0 6%;
        padding-right: 6%;
    }
}

.whizz {
    list-style: none;
    counter-reset: custom-counter;
    margin: 0;
    padding: 0;
}

.whizz > li {
    counter-increment: custom-counter;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    /*margin-top: 80px;*/
}

.whizz > li + li {
    margin-top: 72px;
}

.whizz > li::before {
    align-items: center;
    background-color: var(--counter-background-color);
    border-radius: 50%;
    color: var(--counter-text-color);
    content: counter(custom-counter);
    display: flex;
    flex: none;
    font-size: 26px;
    height: 2em;
    justify-content: center;
    line-height: 2;
    outline: 1px solid transparent;
    width: 2em;
}

.whizz .foobar {
    flex: 1 1 600px;
}

.whizz .portfolio__demo {
    display: block;
    margin-top: 2em;
}

.whizz img,
.whizz video {
    height: auto;
    display: block;
    width: 100%;
}

.whizz figcaption {
    background-color: var(--figcaption-background-color);
    font-size: 20px;
    padding: 1em;
}

dl {
    margin: 0;
}

dl > div {
    line-height: 1.3;
}

dl > div + div {
    margin-top: 0.75em;
}

dt,
dd {
    display: inline;
    margin: 0;
}

dt {
    font-weight: 700;
}



/*
---------------------------------------------
ABLEPLAYER
---------------------------------------------
*/

.able-wrapper {
    --ableplayer-player-background-color: var(--theme-color-3);
    --ableplayer-controller-background-color: var(--theme-color-4);
    --ableplayer-controller-color: var(--theme-color-1);
    --ableplayer-big-play-button-color: var(--theme-color-1);
    --ableplayer-seekbar-background-color: var(--theme-color-4);
    --ableplayer-seekbar-loaded-background-color: var(--theme-color-1);
    --ableplayer-seekbar-played-background-color: var(--theme-color-2);
    --ableplayer-volume-track-on-background-color: var(--theme-color-1);
    --ableplayer-status-bar-color: #fff;
}

.able,
.able-player {
    background-color: var(--ableplayer-player-background-color);
}

.able-controller {
    background-color: var(--ableplayer-controller-background-color);
}

/*
  Controller Buttons & Controls
*/

.able-big-play-button {
    color: var(--ableplayer-big-play-button-color);
}

/*
  Seekbar
*/

.able-seekbar {
    background-color: var(--ableplayer-seekbar-background-color);
}

.able-seekbar-loaded {
    background-color: var(--ableplayer-seekbar-loaded-background-color);
    opacity: 0.5;
}

.able-seekbar-played {
    background-color: var(--ableplayer-seekbar-played-background-color);
}

.able-seekbar-head {
    background-color: #fff;
}

/*
  Volume Slider
*/

.able-volume-slider {
    background-color: var(--ableplayer-controller-background-color);
}

.able-volume-track {
    background-color: var(--ableplayer-controller-background-color);
}

.able-volume-track.able-volume-track-on {
    background-color: var(--ableplayer-volume-track-on-background-color);
}

.able-volume-head {

}

/*
  Status Bar
*/

.able-status-bar {
    color: var(--ableplayer-status-bar-color);
}
