/*
---------------------------------------------
UTILITIES
---------------------------------------------
*/

.a11y-screen-reader-only {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px, 1px, 1px, 1px);
    color: transparent;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.nowrap {
    white-space: nowrap;
}



/*
---------------------------------------------
RESET
---------------------------------------------
*/

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size-adjust: none;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 100%;
}

dl,
q,
blockquote {
    margin: 0;
}

h1, h2, h3,
h4, h5, h6, p {
    font-weight: 400;
    margin: 0;
}

img {
    border: none;
    display: block;
}



/*
---------------------------------------------
THEME
---------------------------------------------
*/

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 400;
    src: local("Atkinson Hyperlegible"),
    url("fonts/atkinson-hyperlegible/regular-102a.woff2") format("woff2"),
    url("fonts/atkinson-hyperlegible/regular-102.woff") format("woff");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-weight: 400;
    src: local("Atkinson Hyperlegible"),
    url("fonts/atkinson-hyperlegible/italic-102a.woff2") format("woff2"),
    url("fonts/atkinson-hyperlegible/italic-102.woff") format("woff");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 700;
    src: local("Atkinson Hyperlegible"),
    url("fonts/atkinson-hyperlegible/bold-102a.woff2") format("woff2"),
    url("fonts/atkinson-hyperlegible/bold-102.woff") format("woff");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-weight: 700;
    src: local("Atkinson Hyperlegible"),
    url("fonts/atkinson-hyperlegible/bold-italic-102a.woff2") format("woff2"),
    url("fonts/atkinson-hyperlegible/bold-italic-102.woff") format("woff");
}


:root {
    --theme-font-stack-primary: "Atkinson Hyperlegible", Verdana, sans-serif;
    --theme-font-stack-secondary: "Nixie One", serif;
    --base-font-size: 1.25em;
    --body-font-family: var(--theme-font-stack-primary);
    --body-text-color: var(--theme-color-4);
    --title-font-size: 2.25em;
    --title-font-stack: var(--theme-font-stack-secondary);
    --title-font-weight: 100;
    --title-line-height: 1.1;
    --subtitle-font-size: 1.5em;
    --subtitle-font-stack: inherit;
    --subtitle-font-weight: 400;
    --subtitle-line-height: 1.1;
    --counter-font-size: 1em;
    --counter-diameter: 1.167em;
}

@media only screen and (min-width: 750px) {
    :root {
        --base-font-size: 1.5em;
    }
}

@media only screen and (min-width: 1600px) {
    :root {
        --base-font-size: 1.75em;
    }
}

.palette--professional {
    /* Palette from ColorHunt */
    /* https://colorhunt.co/palette/196180 */
    --theme-color-1: #ebecf1; /*rgb(235, 236, 241)*/
    --theme-color-2: #206a5d; /*rgb(32, 106, 93)*/
    --theme-color-3: #1f4068; /*rgb(31, 64, 104)*/
    --theme-color-4: #1b1c25; /*rgb(27, 28, 37)*/
    --theme-color-5: #fff;    /*rgba(255, 255, 255)*/
    --body-bg-color: var(--theme-color-5);
    --header-bg-color: var(--theme-color-3);
    --header-text-color: var(--theme-color-1);
    --nav-bg-color: var(--theme-color-2);
    --nav-color: var(--theme-color-5);
    --title-color: var(--theme-color-2);
    --subtitle-color: inherit;
    --counter-bg-color: var(--theme-color-2);
    --counter-diameter: 1.75em;
    --counter-text-color: var(--theme-color-1);

    --player-bg-color: var(--theme-color-3);
    --controller-bg-color: var(--theme-color-4);
    --controller-color: var(--theme-color-1);
    --big-play-button-color: var(--theme-color-1);
    --seekbar-bg-color: var(--theme-color-4);
    --seekbar-head-bg-color: var(--theme-color-5);
    --seekbar-loaded-bg-color: var(--theme-color-1);
    --seekbar-played-bg-color: var(--theme-color-2);
    --volume-track-on-bg-color: var(--theme-color-1);
    --status-bar-color: var(--theme-color-5);
    --transcript-area-bg-color: var(--theme-color-2);
    --transcript-area-color: var(--theme-color-5);
    --playlist-bg-color: var(--theme-color-2);
    --playlist-color: var(--theme-color-5);
}


/*
---------------------------------------------
TYPOGRAPHY
---------------------------------------------
*/

html {
    font-size: var(--base-font-size);
}

h2 {
    color: var(--title-color);
    font-family: var(--title-font-stack);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);
    margin-bottom: 36px;
}

h3 {
    color: var(--subtitle-color);
    font-family: var(--subtitle-font-stack);
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    line-height: var(--subtitle-line-height);
}

dd,
p {
    font-size: 1em;
    line-height: 1.4;
}

p + p {
    margin-top: 1em;
}

.button {
    align-items: baseline;
    background-color: var(--theme-color-2);
    border-radius: 4px;
    box-shadow: 0 3px 0 0 black;
    color: var(--theme-color-1);
    display: inline-flex;
    font-size: inherit;
    line-height: 1.4;
    padding: 0.5em 1.125em;
    position: relative;
    text-decoration: none;
}

.button:hover {
    box-shadow: 0 2px 0 0 black;
    top: 1px;
}

.button:active {
    box-shadow: 0 0 0 0 transparent;
    top: 3px;
}

.link--text {
    color: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

.link--text:hover,
.link--text:focus {
    text-decoration: underline;
}

.link--text,
.link--icon {
    fill: currentColor;
}

.link--text.link--external {
    align-items: baseline;
    display: inline-flex;
}

.link--text.link--external svg {
    height: 0.75em;
    margin-left: 0.35em;
    width: 0.75em;
}

.link--nav {
    white-space: nowrap;
}

.nav__icon,
.li--with-counter::before {
    align-items: center;
    background-color: var(--counter-bg-color);
    border-radius: 50%;
    color: var(--counter-text-color);
    content: counter(custom-counter);
    display: flex;
    fill: currentColor;
    flex: none;
    flex-direction: column;
    font-size: 1em;
    height: var(--counter-diameter);
    justify-content: center;
    line-height: 2;
    outline: 1px solid transparent;
    position: relative;
    width: var(--counter-diameter);
}

.nav__icon svg {
    height: 1em;
    width: 1em;
}



/*
---------------------------------------------
LAYOUT
---------------------------------------------
*/

.test {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    font-family: var(--body-font-family);
}

@media only screen and (min-width: 1200px) {
    .test {
        align-items: stretch;
        display: flex;
    }
}



/*
---------------------------------------------
HEADER
---------------------------------------------
*/

header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    flex: none;
    padding: 1em 4% 3em;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    header {
        /*padding: 10vh clamp(1.125em, 4%, 3em) 0;*/
        padding: 10vh 2% 0;
    }
}

header .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 750px) {
    header .container {
        align-items: stretch;
    }
}

@media only screen and (min-width: 1200px) {
    header .container {
        align-items: center;
        left: 0;
        position: sticky;
        right: 0;
        top: 10vh;
        width: 100%;
    }
}



/*
---------------------------------------------
HEADER ➝ INTRODUCTION
---------------------------------------------
*/

#introduction {
    display: inline-block;
    font-size: clamp(0.65em, 1vw, 0.55em);
    /*font-size: 0.5em*/
}

/*@media only screen and (min-width: 1800px) {*/
/*    #introduction {*/
/*        font-size: 0.7em;*/
/*    }*/
/*}*/

#introduction svg {
    display: block;
    fill: currentColor;
    font-size: 1em;
    height: 20em /*320px*/;
    margin: 0 auto;
    width: 20em /*320px*/;
}

#introduction__name {
    font-family: var(--theme-font-stack-secondary);
}



/*
---------------------------------------------
NAV
---------------------------------------------
*/

nav {
    display: block;
    /*font-size: clamp(20px, 1.5vw, 24px);*/
    margin: 2em 0 0;
    position: relative;
    left: -0.6em;
    width: auto;
}

@media only screen and (min-width: 750px) {
    nav {
        left: 0;
        margin: 2em auto 0;
        max-width: 960px;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    nav {
        left: -0.5em;
        margin: clamp(2em, 5vh, 60px) 0 0 0;
        max-width: none;
        width: auto;
    }
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 750px) {
    nav ul {
        flex-direction: row;
        gap: 0 2.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    nav ul {
        flex-direction: column;
        gap: 0.75em;
    }
}

nav ul li {
    align-items: center;
    display: flex;
    gap: 0.5em;
}

.nav__icon {
    display: flex;
}

@media only screen and (min-width: 750px) {
    .nav__icon {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .nav__icon {
        display: flex;
    }
}

#nav__about svg {
    height: 0.75em;
    width: 0.75em;
}

#nav__presentations svg {
    height: 0.875em;
    margin-top: 3px;
    width: 0.875em;
}



/*
---------------------------------------------
MAIN
---------------------------------------------
*/

main {
    flex: 1 1 100%;
    margin: 3em 0 6em;
}

article + article {
    margin-top: 90px;
}

article .container {
    margin: 0 auto;
    width: 88%;
}

@media only screen and (min-width: 1200px) {
    article .container {
        width: 92%;
    }
}

/*
---------------------------------------------
MAIN ➝ SAMPLES LISTS
---------------------------------------------
*/

.samples {
    list-style: none;
    counter-reset: custom-counter;
    margin: 0;
    padding: 0;
}

.samples > li {
    align-items: flex-start;
    counter-increment: custom-counter;
    display: grid;
    grid-template-areas:
        "counter"
        "description"
        "feature"
        "extra"
        "link";
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 700px) {
    .samples > li {
        grid-template-areas:
            "counter . description ."
            ". . feature ."
            ". . extra ."
            ". . link .";
        grid-template-columns: var(--counter-diameter) 0.75em 1fr calc(var(--counter-diameter) / 2);
    }
}

@media only screen and (min-width: 2000px) {
    .samples > li {
        align-items: stretch;
        grid-template-areas:
            "counter . description description ."
            ". . feature extra ."
            ". . link . .";
        grid-template-columns: var(--counter-diameter) 0.75em 3fr minmax(475px, 1fr) var(--counter-diameter);
    }
}

.samples > li + li {
    margin-top: 72px;
}

.samples > li::before {
    grid-area: counter;
    /*margin-bottom: 0.5em;*/
    padding-top: 0.2em;
}

/*@media only screen and (min-width: 550px) {*/
/*    .samples > li::before {*/
/*        margin-bottom: 0;*/
/*        margin-right: 1em;*/
/*    }*/
/*}*/

.samples .abcdefg {
    flex: 2 2 500px;
}

.samples .foo img {
    height: auto;
    display: block;
    width: 100%;
}

.samples .able-wrapper,
.samples .foo,
.samples .able-playlist,
.samples .able-transcript {
    border: 1px solid var(--theme-color-4);
}

.samples .able-wrapper,
.samples .foo {
    grid-area: feature;
}

.samples .able-playlist,
.samples .able-transcript {
    grid-area: extra;
}

@media only screen and (min-width: 2000px) {
    .samples .able-playlist,
    .samples .able-transcript {
        border-left: 0;
    }
}

.samples .bar {
    grid-area: link;
}

.samples dl {
    grid-area: description;
    margin-bottom: 1em;
    padding-top: 0.125em;
}

.samples .dl__pair + .dl__pair {
    margin-top: 0.5em;
}

.samples dt,
.samples dd {
    display: inline;
    margin: 0;
}

.samples dt {
    font-weight: 700;
}

.samples .bar {
    margin-top: 1em;
}



/*
---------------------------------------------
MAIN ➝ ABLEPLAYER
---------------------------------------------
*/

.able,
.able-player {
    background-color: var(--player-bg-color);
}

.able-controller {
    background-color: var(--controller-bg-color);
}

.able-big-play-button {
    color: var(--big-play-button-color);
}

.able-seekbar {
    background-color: var(--seekbar-bg-color);
}

.able-seekbar-loaded {
    background-color: var(--seekbar-loaded-bg-color);
    opacity: 0.5;
}

.able-seekbar-played {
    background-color: var(--seekbar-played-bg-color);
}

.able-seekbar-head {
    background-color: var(--seekbar-head-bg-color);
}

.able-volume-slider {
    background-color: var(--controller-bg-color);
}

.able-volume-track {
    background-color: var(--controller-bg-color);
}

.able-volume-track.able-volume-track-on {
    background-color: var(--volume-track-on-bg-color);
}

.able-status-bar {
    color: var(--status-bar-color);
}

.able-playlist {
    background-color: var(--playlist-bg-color);
    color: var(--playlist-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 2000px) {
    .able-playlist {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}

.able-playlist li {
    display: block;
    flex: 1 1 auto;
    /*font-size: 0.875em;*/
}

.able-playlist li + li {
    border-top: 1px solid var(--theme-color-4);
}

.able-playlist-button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    display: flex;
    font-family: inherit;
    font-size: inherit;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

@media only screen and (min-width: 2000px) {
    .able-playlist button {
    }
}

.able-playlist-button img {
    display: block;
    flex: 0 1 auto;
    width: clamp(155px, 33vw, 475px);
}

@media only screen and (min-width: 2000px) {
    .able-playlist-button img {
        display: none;
    }
}

.able-playlist-button-cta {
    display: block;
    flex: 2 2 200px;
    font-size: 0.875em;
    padding: 0 1em;
}

.able-current .able-playlist-button-cta::after {
    content: "Currently Selected";
    display: block;
    font-style: italic;
    margin-top: 0.5em;
}

.able-transcript-area,
.able-transcript {
    background-color: var(--transcript-area-bg-color);
    color: var(--transcript-area-color);
}

.able-transcript-area {
    height: auto;
}

.able-transcript {
    height: 755px;
}

.able-window-toolbar {
    background-color: var(--theme-color-3);
}
