header {
    background-color: var(--header-background);
    color: var(--header-text);
    margin-bottom: 2em;
}

header nav {
    font-size: 22px;
}

header nav ol {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 25px 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 700px) {
    header nav ol {
        align-items: center;
        flex-direction: row;
    }
}

header nav li:first-child a {
    border-radius: 50%;
    display: block;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100px;
}

header nav li:first-child img {
    /*clip-path: circle(50% at 50% 50%);*/
    /*object-fit: cover;*/
    /*width: 200px;*/
    left: -110px;
    position: absolute;
    top: -11px;
    width: 320px;
}

header nav a {
    color: inherit;
}

main {
    background-color: white;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /*box-shadow: 0 32px 32px 16px rgba(0,0,0,0.1);*/
    margin: 0 auto;
    max-width: 1280px;
    padding: 4em;
    padding: clamp(1em, 6vw, 4.5em);
    width: 92%;
}

article {
    margin-top: 90px;
}

h1 {
    font-size: 60px;
    margin-bottom: 0.5em;
}

h1 + p {
    font-size: 28px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
    margin-bottom: 1em;
}

#samples ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin: 0;
    padding: 0;
}

#samples li {
    align-items: flex-start;
    counter-increment: my-awesome-counter;
    display: flex;
    margin-top: 50px;
}

#samples li::before {
    align-items: center;
    background-color: var(--counter-background);
    border-radius: 50%;
    color: var(--counter-text);
    content: counter(my-awesome-counter);
    display: flex;
    flex: none;
    font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
    font-size: 22px;
    height: 2em;
    justify-content: center;
    line-height: 1;
    margin-right: 1em;
    /*outline: 1px solid transparent;*/
    width: 2em;
}

#samples .bar {
    display: block;
}

#samples img,
#samples video {
    height: auto;
    display: block;
    width: 100%;
}

/*#screen-reader-testing ol {*/
/*    display: flex;*/
/*    gap: 2em;*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    overflow-x: auto;*/
/*    padding: 0;*/
/*}*/
