*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --font-stack-primary: Lato, Helvetica, Arial, sans-serif;
    --font-stack-secondary: "Nixie One", serif;
}

.theme--1 {
    /* https://colorhunt.co/palette/206782 */
    --color-1: #fff0f0;
    --color-2: #ebd4d4;
    --color-3: #835858;
    --color-4: #463333;

    --body-background: var(--color-2);
    --body-text: var(--color-4);
    --header-background: var(--color-3);
    --header-text: var(--color-1);
    --counter-background: var(--color-3);
    --counter-text: var(--color-1);
}

.theme--2 {
    /* https://colorhunt.co/palette/196180 */
    --color-1: #ebecf1;
    --color-2: #206a5d;
    --color-3: #1f4068;
    --color-4: #1b1c25;

    --body-background: var(--color-1);
    --body-text: var(--color-4);
    --header-background: var(--color-3);
    --header-text: var(--color-1);
    --counter-background: var(--color-2);
    --counter-text: var(--color-1);
}

.theme--3 {
    /* https://colorhunt.co/palette/196152 */
    --color-1: #6f4a8e;
    --color-2: #221f3b;
    --color-3: #050505;
    --color-4: #ebebeb;

    --body-background: var(--color-4);
    --body-text: var(--color-3);
    --header-background: var(--color-2);
    --header-text: #fff;
    --counter-background: var(--color-1);
    --counter-text: #fff;
}

.theme--4 {
    /* https://colorhunt.co/palette/264715 */
    --color-1: #eeebdd;
    --color-2: #810000;
    --color-3: #630000;
    --color-4: #1b1717;

    --body-background: var(--color-1);
    --body-text: var(--color-4);
    --header-background: var(--color-3);
    --header-text: #fff;
    --counter-background: var(--color-2);
    --counter-text: #fff;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--body-background);
    color: var(--body-text);
    -webkit-font-smoothing: antialiased;
    /*font-family: Lato, Helvetica, Arial, sans-serif;*/
    font-family: var(--font-stack-primary);
    font-size-adjust: none;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 100%;
}

h2, h3 {
    font-family: var(--font-stack-secondary);
}

h1, h2, h3,
h4, h5, h6, p {
    font-weight: 400;
    margin: 0;
}

p {
    line-height: 1.5;
}

a {
    display: inline-block;
    padding-bottom: 0.25em;
    text-decoration: none;
}

a[aria-current] {
    color: var(--color-1);
}

.a11y-screen-reader-only {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px, 1px, 1px, 1px);
    color: transparent;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
